@chareset "utf-8";
/*共通部分---*/

html {
    font-size: 100%;
}
body{
    font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", sans-serif;
    line-height: 1.7;
    color: #432;
}
a {
    text-decoration: none;
  }
img{
    width: 100%;
    max-width: 100;
    height: auto;
}

/*photoランキングーーーーーーーーーーーーーーーーーーーーーー------------------------*/
.wrapper {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 4%;
}
.ranking-nav{
  display:flex;
  font-size: 1.25rem;
  text-transform: uppercase;
  margin-top: 34px;
  list-style: none;
  border-radius:5px;
  justify-content: center;
}
.ranking-nav li{
  margin-left: 36px;
}

.ranking-nav a{
  color: 432;
}
.ranking-nav:hover{
  color: #0bd;
}
#nav ul {
  width: 100%;
  padding: 20;
  list-style-type:none;
  text-align:center;
}
/*写真の並べ方*/
.grid {
  display: grid;
  gap: 26px;
  grid-template-columns: repeat(3,1fr);
  margin-top: 6%;
  margin-bottom: 50px;
}
/*一位*/
.big-box{
  grid-column: 1/3;
  grid-row: 1/3;
}

.big-box img{
  height: 82%;
  width: 100%;
  object-fit: cover;
}


/*順位付け*/
.item {
  counter-increment: rank;
}
.item::before {
  content: counter(rank)"位";
  background-color: #bf0000;
  font-size: 85%;
  display: block;
  position: absolute;
  color: #ffffff;
  padding: 0.2em 0.2em 0.2em 0;
  font-weight: bold;
  width: 4.5em;
  text-align: center;
  opacity: 0.8;
  border-radius: 0 18px 18px 0;
  box-sizing: border-box;
}

/*いいねボタンーーーーーーーーーーーーーーー*/
.btn-square {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #668ad8;/*ボタン色*/
  color: #FFF;
  border-bottom: solid 4px #627295;
  border-radius: 3px;
}
.btn-square:active {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  border-bottom: none;/*線を消す*/
}


/*ーーーーーユーザーランキング---------------------------------------ーーーーーーーーー*/

/*表ーーーーーー------------------*/
table{
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

table tr{
  border-bottom: solid 1px #eee;
  cursor: pointer;
}

table tr:hover{
  background-color: #d4f0fd;
}

table th,table td{
  text-align: center;
  width: 20%;
  padding: 15px 0;
}

table td.icon{
  background-size: 35px;
  background-position: left 5px center;
  background-repeat: no-repeat;
  padding-left: 30px;
}
/*アイコン画像*/
table td.bird{
  background-image: url("images/bird.png");
}

table td.whale{
  background-image: url("images/whale.png");
}

table td.crab{
  background-image: url("images/crab.png");
}

/*ランキング順位*/
.ranking {
  counter-increment: rank;
}
.ranking::before {
  content: counter(rank)"位";
  background-color: #bf0000;
  font-size: 100%;
  display: block;
  position: center;
  color: #ffffff;
  padding: 0.2em 0.2em 0.2em 0;
  font-weight: bold;
  width: 4.5em;
  text-align: center;
  opacity: 0.8;
  border-radius: 0 18px 18px 0;
  box-sizing: border-box;
}
.table {
border-collapse: collapse;
text-align: left;
line-height: 1.5;
border: 1px solid #ccc;
}
.table th {
padding: 10px;
font-weight: bold;
border-top: 1px solid #ccc;
border-right: 1px solid #ccc;
border-bottom: 1px solid #ccc;
background: #0099e3;
color: #ffffff;
}



div a {display:inline-block;}


/*検索画面-----------------------------------------------------------------*/
/*ーーーーーーヘッダーの部分ーーーーーー*/

.atama{
  display: flex;
  color:#b0c865;

}
.kennsakuran{
  margin-left:  10%;

}


/*昼と夜ーーーーー*/
.my-orange{color:#f15922;}
.my-yellow{color:#fff200;}

.jikann{
  display: flex;
  font-size: 1.25rem;
  text-transform: uppercase;
  margin-top: 34px;
  list-style: none;
}

#social-icon li{
  display: block;
  float: left;
  margin: 0 5px 5px 0;
  padding: 0;
  color: #fff;
  top: 0;}

#social-icon i {
  width: 50px;
  height: 50px;
  margin: 0;
  border-radius: 50%;
  background: #c6bb80;
  line-height: 50px;
  text-align: center;
  top: 0;}

#social-icon i:before { padding 0; line-height: 50px; }
#social-icon a:hover i { background: #bcaf68; }
#social-icon .fa-sun { background: #eaf6fd; }
#social-icon .fa-moon{ background: #3b5998; }


/*写真欄の上の空白ーーーーーーーーーーーーーー*/


/*画面の大きさ別、写真の表示数-------------------------*/
#photos {
   /* Prevent vertical gaps */
   line-height: 0;

   -webkit-column-count: 3;
   -webkit-column-gap:   0px;
   -moz-column-count:    3;
   -moz-column-gap:      0px;
   column-count:         3;
   column-gap:           0px;

}

#photos img {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto !important;
}
@media (max-width: 1200px) {
  #photos {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
}
@media (max-width: 1000px) {
  #photos {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
}
@media (max-width: 800px) {
  #photos {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
}
@media (max-width: 400px) {
  #photos {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
}
/*-------------------------------------*/

#form4{
position:relative;
max-width:200px;
margin-bottom:20px;
text-align: center;
}
#sbox4{
height:50px;
padding:0 10px;
position:absolute;
left:0;
top:0;
border-radius:25px;
outline:0;
background:#eee;

}
#sbtn4{
height:50px;
width:50px;
position:absolute;
left:300px;
top:0;
background:#7fbfff;
color:#fff;
border:none;
border-radius:0 25px 25px 0;
text-align: left;}
#sbtn4 .fa-search{
font-size:20px;
position:absolute;
top:30%;
left:30%;
}
#sbtn4:hover{
color:#888;
}

.yoru{
  background-color: #323443;
}
